.placeholder {
  width: 100%; 
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative; 
  overflow: hidden; 
  border-radius: 8px; 
}

.placeholder::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); 
  background-color: rgba(255, 255, 255, 0.3); 
  z-index: 1; 
}

.placeholder img {
  max-width: 45%; 
  max-height: 45%; 
  height: auto; 
  object-fit: contain; 
  position: relative; 
  z-index: 0; 
}